body {
    margin: 0;
    background-color: $white-smoke;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.page-wrapper {
    margin: 0 1rem;
    background-color: $white;
    height: 100%;
    box-shadow: 10px 5px 10px $platinum, -10px 5px 10px $platinum;

    @media only screen and (min-device-width: 480px) {
        margin: 0 2rem;
    }

    h1 {
        font-family: $font-regular;
    }

    &>div {
        margin-bottom: 1.5rem;
        font-family: $font-regular;
        font-weight: 400;
    }
}