// fonts
$font-regular: 'Amatic SC', cursive;
$font-banner: 'Gloria Hallelujah', cursive;

// colours
$white: #FFFFFF;
$white-smoke: #f5f5f5;
$platinum: #e0e0e0;
$sunglow: #ffcc33;
$indigo: #660099;
$black-olive: #2F3730;
$dark-purple: #1B0029;

// animations
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}